body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(217, 221, 225, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(54, 56, 57);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 25px;
}

.container {
    margin-top: 20px;
    width: 40%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bgMove {
    position: absolute;
    width: 100px;
    height: auto;
    opacity: 0.3;
    transition: opacity 1s ease-in-out;
    transition: transform 7.0s ease-out;
    z-index: -1;
}

.form-container ,
.form-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container form input {
    width: 100%;
    padding: 10px;
    margin: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 80%;
    }
}